{{ if .Site.Params.widgets.logo_sidebar }}
<div class="widget-wrap">
    <h3 class="widget-title">
        Unterstützt von
    </h3>
    <div class="widget">
        <ul id="recent-post">
            <li>
              logo 1
            </li>
            <li>
              logo 2
            </li>
            <li>
              logo 3
            </li>
            <li>
              logo 4
            </li>
            <li>
              logo 5
            </li>
            <li>
              logo 6
            </li>
        </ul>
    </div>
</div>
{{ end }}
