/** OVERWRITES **/
body {
	font-family: Avenir, "Helvetica Neue",Helvetica,Arial,sans-serif;
}
a {
	color: #666;
}
a:focus, a:hover {
	color: #999;
}
h1, h2, h3, h4, h5 {
	text-transform: uppercase;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
	text-decoration: none;
}
.nav a {
	text-transform: uppercase;
}
code, pre {
	background-color: black;
	color: #fd0;
	border-radius: 0;
}
pre {
	padding: 1rem;
	white-space: pre-wrap;
}
.btn {
	border-radius: 0px;
}
.btn-primary {
    color: #fd0;
    background-color: black;
    border: none;
}
.btn-primary:hover {
	color: #fd0;
	background-color: #333;
}

.yellow {
	color: #ffdd00;
}
.yellow-bg {
	background-color: #ffdd00;
}
h1 .black-white {
	background-color: black;
	color: white;
	padding: 0rem 2rem;
	text-transform: none;
}

.header-image {
	height: 300px;
	background-image: url(/img/header.jpg);
	background-size: cover;
	position: relative;
}
.header-image .title {
	background-color: white;
	text-transform: uppercase;
	position: absolute;
	top: 4.5rem;
	left: 12rem;
}
@media (max-width: 992px) {
	.header-image .title {
		top: 2rem;
		right: 2rem;
	}
}
@media (max-width: 578px) {
	.header-image {
		background-image: url(/img/header-mobile.jpg);
		padding-top: 2rem;
	}
	.header-image .title {
		position: initial;
	}
	.header-image .title h1 {
		font-size: 2rem;
	}
}
.header-image .logo {
	position: absolute;
	top: -2rem;
	left: 3rem;
	-ms-transform: rotate(-25deg); /* IE 9 */
    -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
    transform: rotate(-25deg);
}
@media (max-width: 578px) {
	.header-image .logo {
		left: 0.5rem;
	}
	.header-image .logo img {
		width: 50%;
		height: 50%;
	}
}

footer a:hover {
	text-decoration: none;
}

.event-info {
	background-color: #ffdd00;
	display: none;
	padding: 2rem;
}
.event-info.active {
	display: block;
}
@media (max-width: 578px) {
	.event-info, .event-info.active {
		padding: 0;
		display: none;
	}
}
.event-info h1 {
	text-transform: uppercase;
}
@media (max-width: 578px) {
	.event-info h1 {
		font-size: 1.5rem;
	}
}
.event-info a {
	color: black;
}
.event-info a:hover {
	text-decoration: none
}
@media (max-width: 578px) {
	.event-dates {
		display: none;
	}
}
.event-dates > div > div {
	padding-top: 2rem;
	font-size: 2rem;
	text-align: center;
	position: relative;
	cursor: pointer;
}
.event-dates > div.active > div:after {
	top: 0%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: #ffdd00;
	border-width: 2rem;
	margin-left: -2rem;
}
.event-dates > div.event-ideas {
	border-right: 5px solid #ccc;
}
.event-dates > div.event-hackathon {
	background-color: #ccc;
}
.event-toggle {
	display: none;
}
@media (max-width: 578px) {
	.event-toggle {
		display: block;
	}
}

.event-list {
	border-top: 5px solid black;
}
.event-list h3 {
	font-size: 1.5rem;
	font-weight: normal;
}
.event-list h4 {
	font-size: 1.2rem;
	font-weight: normal;
	margin-bottom: 0px;
}
.event-list .event-date {
	background-color: #fd0;
}
.event-list .event-date h3, .event-list .event-date h4 {
	margin-bottom: 0px;
}

.infobox {
	width: 20rem; 
	float: left; 
	margin-right: 1rem; 
	margin-bottom: 1rem;
	border: 2px solid black;
	border-radius: 0px;
	background-color: #fd0;
}

.sponsor-heading {
	text-indent: -10000px;
	height:5px;
}

.tigerorange {
	color: #C88141;
	background-color: #C88141;
}

.fuchsia {
	background-color: fuchsia;
	color: fuchsia;
}

.goldenrod {
	background-color: goldenrod;
	color: goldenrod;
}

.lavenderblush {
	/* lavenderblush wouldn't be visible, so lets have this one */
	background-color: lavenderblush;
	color:  #FFBDD3;
}

.gainsboro {
	background-color: gainsboro;
	color: gainsboro;
}
.black {
	background-color: black;
	color: white;
}

