<div class="row event-toggle text-xs-center">
	<a href="#" class="btn" data-toggle=".event-info">Events ein-/ausblenden</a>
</div>
<div class="row event-info active" data-event-info="15-4">
	<div class="col-md-12">
		<a href="/veranstaltungen/ideenfindung">
		<small>15.4.2016 @ CAMPUS V Coworking Dornbirn</small>
		<h1>
			<strong>Workshop</strong><br/>
			Ideenfindung
		</h1>
		</a>
	</div>
</div>
<div class="row event-info" data-event-info="17-5">
	<div class="col-md-12">
		<a href="/veranstaltungen/konferenz#iot">
		<small>17.5.2016 19:00 @ FH Vorarlberg</small>
		<h1>
			<strong>Eröffnung</strong><br/>
			Internet of Things
		</h1>
		</a>
	</div>
</div>
<div class="row event-info" data-event-info="18-5">
	<div class="col-md-6">
		<a href="/veranstaltungen/workshops#blumenstrasse">
		<small>18.5.2016 13:30 @ BG Blumenstrasse</small>
		<h1>
			<strong>Schülerworkshop</strong><br/>
			BG Blumenstrasse
		</h1>
		</a>
	</div>
	<div class="col-md-6">
		<a href="/veranstaltungen/konferenz#produkt">
		<small>18.5.2016 19:00 @ Altes Hallenbad Feldkirch</small>
		<h1>
			<strong>UH Konferenz</strong>
			Digitales Produkt
		</h1>
		</a>
	</div>
</div>
<div class="row event-info" data-event-info="19-5">
	<div class="col-md-6">
		<a href="/veranstaltungen/workshops#schueler-2">
		<small>19.5.2016 @ BRG-BORG Dornbirn Schoren</small>
		<h1>
			<strong>Schülerworkshop</strong><br/>
			&nbsp;
		</h1>
		</a>
	</div>
	<div class="col-md-6">
		<a href="/veranstaltungen/konferenz#vorarlberg">
		<small>19.5.2016 19:00 @ Vorarlberg Museum Bregenz</small>
		<h1>
			<strong>UH Konferenz</strong><br/>
			#vorarlberg
		</h1>
		</a>
	</div>
</div>
<div class="row event-info" data-event-info="20-5">
	<div class="col-md-12">
		<a href="/ummahuesla">
		<small>20.5.2016 ab 13:30 @ CAMPUS V / designforum Vorarlberg</small>
		<h1>
			<strong>Umma Hüsla</strong><br/>
			Hackathon
		</h1>
		</a>
	</div>
</div>
<div class="row event-info" data-event-info="21-5">
	<div class="col-md-6">
		<a href="/ummahuesla">
		<small>21.5.2016 bis 20:00 @ CAMPUS V / designforum Vorarlberg</small>
		<h1>
			<strong>Umma Hüsla</strong><br/>
			Hackathon
		</h1>
		</a>
	</div>
	<div class="col-md-6">
		<a href="/veranstaltungen/party">
		<small>21.5.2016 ab 20:00 @ CAMPUS V Coworking Dornbirn</small>
		<h1>
			<strong>Umma Hüsla</strong><br/>
			Party
		</h1>
		</a>
	</div>
</div>
<div class="row event-dates p-b-1">
	<div class="col-xs-2 p-b-2 event-ideas active" data-event-select="15-4">
		<div>Fr 15.4.</div>
	</div>
	<div class="col-xs-2 p-b-2" data-event-select="17-5">
		<div>Di 17.5.</div>
	</div>
	<div class="col-xs-2 p-b-2" data-event-select="18-5">
		<div>Mi 18.5.</div>
	</div>
	<div class="col-xs-2 p-b-2" data-event-select="19-5">
		<div>Do 19.5.</div>
	</div>
	<div class="col-xs-2 p-b-2 event-hackathon" data-event-select="20-5">
		<div>Fr 20.5.</div>
	</div>
	<div class="col-xs-2 p-b-2 event-hackathon" data-event-select="21-5">
		<div>Sa 21.5.</div>
	</div>
</div>
