<footer class="row m-b-2 m-t-2 p-t-2" style="border-top: 5px solid #ffdd00">
	<div class="col-sm-2">
		<a href="http://www.digitaleinitiativen.at/"><img src="/img/logo-di.png" class="img-fluid" /></a>
	</div>
	<div class="col-sm-2">
		<a href="http://www.designforum.at/v/"><img src="/img/logo-df.png" class="img-fluid" /></a>
	</div>
	<div class="col-sm-3">
		<ul class="list-unstyled">
			<li><a href="http://digitaleinitiativen.at">Digitale Initiativen</a></li>
			<li><a href="http://designforum.at/v">designforum Vorarlberg</a></li>
		</ul>
	</div>
	<div class="col-sm-3">
		<ul class="list-unstyled">
			<li><a href="http://www.digitaleinitiativen.at/contact/">Kontakt</a></li>
			<li><a href="http://www.digitaleinitiativen.at/impressum/">Impressum</a></li>
		</ul>
	</div>
</footer>
