<footer class="row m-t-2 p-t-2 yellow-bg">
		<div class="col-sm-2 col-sm-offset-1">
			<a href="http://www.digitaleinitiativen.at/"><img src="/img/logo-di.png" class="img-fluid" /></a>
		</div>
		<div class="col-sm-2">
			<a href="http://www.designforum.at/v/"><img src="/img/logo-df.png" class="img-fluid" /></a>
		</div>
		<div class="col-sm-2 col-sm-offset-1">
			<ul class="list-unstyled">
				<li><a href="http://www.awsg.at/">AWS</a></li>
				<li><a href="http://www.bmwfw.gv.at/">BMWFW</a></li>
				<li><a href="http://fhv.at">FH Vorarlberg</a></li>
				<li><a href="http://iot-austria.at">IoT Dornbirn</a></li>
				<li><a href="http://vlbgwebdev.at">VlbgWebDev</a></li>
			</ul>
		</div>
		<div class="col-sm-3">
			<ul class="list-unstyled">
				<li><a href="http://digitaleinitiativen.at">Digitale Initiativen</a></li>
				<li><a href="http://designforum.at/v">designforum Vorarlberg</a></li>
				<li><a href="http://www.digitaleinitiativen.at/contact/">Kontakt</a></li>
				<li><a href="http://www.digitaleinitiativen.at/impressum/">Impressum</a></li>
				<li>
					<a href="https://www.facebook.com/DigitaleInitiativen">
						<img align="right" src="/img/fb.png" />
					</a>

					<a href="https://twitter.com/DigitalInit">
						<img align="right" src="/img/tw.png" />
					</a>
				</li>
			</ul>
		</div>

</footer>
<div class="p-b-2 row yellow-bg">
</div>
